.index {
  width: 100%;
  height: 100vh;
  background: rgba(62, 65, 82, 1);
  position: relative;
  .content-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }
  .img-box {
    width: 120px;
    height: 112px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 80%;
    position: relative;
    .w360 {
      width: 120px;
      height: 112px;
      background: url('../../static/images/w360.png') no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      animation: AnimateN 6s linear infinite;
    }
    .n360 {
      width: 94px;
      height: 94px;
      background: url('../../static/images/n360.png') no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      animation: AnimateW 6s linear infinite;
    }
    .img {
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 1px solid #DF9C81;
      border-radius: 80%;
      overflow: hidden;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  .nav-list {
    margin-top: 30px;
    padding: 0 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 30%;
      height: 30px;
      border: 1px solid #fff;
      border-radius: 12px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      line-height: 30px;
    }
  }
  .my-link {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .items {
      width: 30px;
      height: 30px;
      background: #efefef;
      border-radius: 80%;
      margin: 0 10px;
      a {
        display: block;
        svg {
          margin: 3px auto 0 auto;
          display: block;
        }
      }
    }
  }
}

@keyframes AnimateW {
  0% {transform:rotate(0deg)}
  100% {transform:rotate(360deg)}
}
@keyframes AnimateN {
  0% {transform:rotate(0deg)}
  100% {transform:rotate(-360deg)}
}