.filed {
  padding-top: 36px;
  // 占位符
  .seize-box {
    width: 100%;
    .seize-item {
      margin: 20px 20px 0 20px;
      box-shadow: 2px 4px 8px #ececec;
      border-radius: 14px;
      box-sizing: border-box;
      padding: 20px;
      .seize-title {
        height: 20px;
        width: 70%;
        background: #ececec;
        margin-bottom: 20px;
      }
      .w100 {
        width: 100%;
      }
      .w40 {
        width: 40%;
        margin-bottom: 0;
      }
    }
  }
}