.footer {
  height: 100px;
  text-align: center;
  background: rgba(51, 51, 51, 0.98);
  margin-top: 30px;
  padding-top: 30px;
  p {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
  }
}